{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}In-depth{% endblock %}</h1>
  <a class="action" href="{{ url_for('blog.index') }}">Home</a>
  <a class="action" href="{{ url_for('blog.create') }}">New</a>
{% endblock %}

{% block content %}

    <article class="post">
      <header>
        <div>
          <h1>{{ post['header'] }}</h1>
          <div class="about"> Created on {{ post['createdon'] }}</div>
        </div>

      </header>
      <p class="body">{{ post['contents'] }}</p>
    </article>

{% endblock %}