{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  <a class="action" href="{{ url_for('blog.create') }}">New</a>

{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <a class="action" href="{{ url_for('blog.view', id=post['id']) }}">{{ post['header']}}</a>
          <div class="about"> Created on {{ post['createdon'] }}</div>
        </div>

      </header>

    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}